In [1]:
import pandas as pd

## Indice Precios

In [2]:
ix = pd.read_csv('./../data/info/indice_precios_M.csv', index_col = 0)
ix.index = pd.to_datetime(ix.index)
ix_2010 = ix.loc['2010-11-15'].values[0]
ix_2016 = ix.loc['2016-01-15'].values[0]
ipc_10_16 = (ix_2016/ix_2010)

### Cargar info pobreza

In [3]:
frac = 0.01
df_list = []

for Q in ['2010-02-15', '2010-05-15', '2010-08-15', '2010-11-15']:
    file_q = './../data/Pobreza/pobreza_'+str(frac)+'_q'+Q+'.csv'
    dfq = pd.read_csv(file_q, index_col = 0)
    df_list += [dfq]
    
df = pd.concat(df_list)

### Labels aglomerado y Cond. Act y Ocup

In [4]:
aglo_labels = pd.read_csv('./../data/info/aglo_labels.csv')[['AGLOMERADO', 'NOMAGLO']]
condact_labels = pd.read_csv('./../data/info/condact_labels.csv')
cat_ocup_inac_labels = pd.read_csv('./../data/info/cat_ocup_inac_labels.csv')

### Tabla 1: Actividad/Ocup/Inac por aglomerado

In [5]:
info = df.groupby(['AGLOMERADO', 'CONDACT', 'CAT_OCUP', 'CAT_INAC']).size().reset_index()
info = info.merge(aglo_labels).merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')

table = info.set_index(['NOMAGLO', 'Actividad', 'Categoria'])[0].unstack([-2, -1])
table.sum().loc[table.sum() > 5000]

show = (table[table.sum().loc[table.sum() > 5000].index]/frac/4).fillna(0).astype(int)
# show.to_csv('./../data/results/pob_actividad_aglo.csv')
show.to_csv('./../data/results/Tabla1.csv')

### Tabla 2: Poblacion, ingresos por aglomerado.

In [6]:
info = df.groupby(['AGLOMERADO'])['P47T_persona'].describe().reset_index()
info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

col_mon = ['mean', '25%', '50%', '75%']
info[col_mon] = info[col_mon]/ipc_10_16
info['count'] = info['count']/frac/4
info = info.round(-1).astype(int)
info.columns = ['Poblacion', 'P47T promedio', '25%', '50%', '75%']
show = info.sort_index()
# show.to_csv('./../data/results/P47T_aglo.csv')
show.to_csv('./../data/results/Tabla2.csv')

### Table 3: CBA por aglomerado

In [7]:
# info = df.groupby(['AGLOMERADO'])['CBA'].describe().reset_index()
# info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
# info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

# col_mon = ['mean', '25%', '50%', '75%']
# info[col_mon] = info[col_mon]/ipc_10_16
# info['count'] = info['count']/frac/4
# info = info.round(-1).astype(int)
# info.columns = ['Poblacion', 'CBA promedio', '25%', '50%', '75%']
# info.sort_index()

In [8]:
# df['CBT_'] = df['CBT']/df['CB_EQUIV']

# info = df.groupby(['AGLOMERADO'])['CBT_'].describe().reset_index()
# info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
# info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

# col_mon = ['mean', '25%', '50%', '75%']
# info[col_mon] = info[col_mon]/ipc_10_16
# info['count'] = info['count']/frac/4
# info = info.round(-1).astype(int)
# info.columns = ['Poblacion', 'CBT promedio', '25%', '50%', '75%']
# info.sort_index()

## Columnas de ingresos

In [10]:
import numpy as np

In [11]:
## Labels
col_mon_labels = pd.read_csv('./../data/info/col_mon_labels.csv')
ingresos_labels = pd.read_csv('./../data/info/ingresos_labels.csv')

# Columnas pesos
col_mon = ['P21', 'P47T', 'PP08D1', 'TOT_P12', 'T_VI', 'V12_M', 'V2_M', 'V3_M', 'V5_M']

frac = 0.01
df_list = []

for Q in ['2010-02-15', '2010-05-15', '2010-08-15', '2010-11-15']:
    file_q = './../data/yr_samples/RFReg_'+str(frac)+'_'+Q+'_ARG.csv'
    dfq = pd.read_csv(file_q,
                      usecols = ['AGLOMERADO', 'INGRESO', 'INGRESO_NLB', 'INGRESO_JUB', 'INGRESO_SBS'] + col_mon)
    df_list += [dfq]
    
df = pd.concat(df_list)

# Pasar log a nominal
df[col_mon] = np.power(10, df[col_mon]) - 1

In [ ]:
# pd.read_csv(file_q, index_col = 0, nrows = 5)

### Tabla 4: Tot Nacional

In [15]:
show = df[col_mon].describe().T

show[['mean', '25%', '50%', '75%']] = (show[['mean', '25%', '50%', '75%']]/ipc_10_16).round()
show['count'] = show['count']/frac/4

show.round().astype(int)#.to_csv('./../data/results/Tabla4.csv')

            count  mean   std  min  25%  50%   75%     max
P21      40005400  1041  6227    0    0    0  1763  215826
P47T     40005400  1384  7517    0    0  665  2116  384170
PP08D1   40005400   971  6034    0    0    0  1646  172661
TOT_P12  40005400    76  1578    0    0    0     0  174124
T_VI     40005400   202  3178    0    0    0     0  345321
V12_M    40005400    13   521    0    0    0     0   43062
V2_M     40005400   158  2255    0    0    0     0  107654
V3_M     40005400     5  1089    0    0    0     0  345321
V5_M     40005400     5   190    0    0    0     0   17547

### Tabla 5: Stats por tipo de ingresos

In [16]:
info = df.merge(ingresos_labels).groupby(['Ingresos'])[col_mon].describe()

show = info.stack(-2).reset_index().merge(col_mon_labels, left_on = 'level_1', right_on = 'variable')
show = show.set_index(['Ingresos', 'Ingresos por:'])[['count', 'mean', '25%', '50%', '75%']].astype(int).sort_index()

show[['mean', '25%', '50%', '75%']] = (show[['mean', '25%', '50%', '75%']]/ipc_10_16).round()
show['count'] = show['count']/frac/4
show.astype(int)#.to_csv('./../data/results/Tabla5.csv')

                                       count  mean   25%   50%   75%
Ingresos      Ingresos por:
Jubilacion    Ayuda Social           4695200     0     0     0     0
              Cuota Alim.            4695200    33     0     0     0
              ITI (lab. + no lab.)   4695200  1770   869  1176  1954
              Indemnizacion          4695200     1     0     0     0
              Jubilacion             4695200  1347   764   977  1466
              No lab.                4695200  1532   798  1029  1710
              Ocup. Ppal.            4695200   215     0     0     0
              Otras ocup.            4695200    14     0     0     0
              Salario                4695200   121     0     0     0
Laborables    Ayuda Social          17717950     0     0     0     0
              Cuota Alim.           17717950     0     0     0     0
              ITI (lab. + no lab.)  17717950  2569  1173  2116  3279
              Indemnizacion         17717950     0     0     0     0
              Jubilacion            17717950     0     0     0     0
              No lab.               17717950     0     0     0     0
              Ocup. Ppal.           17717950  2265  1022  1954  2931
              Otras ocup.           17717950   161     0     0     0
              Salario               17717950  2136   874  1858  2931
Otros No Lab. Ayuda Social            582175     0     0     0     0
              Cuota Alim.             582175   588     0   352   823
              ITI (lab. + no lab.)    582175  2111   547  1115  2345
              Indemnizacion           582175   303     0     0     0
              Jubilacion              582175     0     0     0     0
              No lab.                 582175  1182   337   614  1125
              Ocup. Ppal.             582175   742     0     0   765
              Otras ocup.             582175   142     0     0     0
              Salario                 582175   606     0     0   472
Sin Ingresos  Ayuda Social          16473925     0     0     0     0
              Cuota Alim.           16473925     0     0     0     0
              ITI (lab. + no lab.)  16473925     0     0     0     0
              Indemnizacion         16473925     0     0     0     0
              Jubilacion            16473925     0     0     0     0
              No lab.               16473925     0     0     0     0
              Ocup. Ppal.           16473925     0     0     0     0
              Otras ocup.           16473925     0     0     0     0
              Salario               16473925     0     0     0     0
Subsidio      Ayuda Social            533825   368   164   315   505
              Cuota Alim.             533825    18     0     0     0
              ITI (lab. + no lab.)    533825   551   219   441   704
              Indemnizacion           533825     3     0     0     0
              Jubilacion              533825     0     0     0     0
              No lab.                 533825   392   164   329   527
              Ocup. Ppal.             533825   132     0     0     0
              Otras ocup.             533825    25     0     0     0
              Salario                 533825   122     0     0     0

### Tabla 6: Cant por tipos de ingreso por aglomerados

In [17]:
info = df.groupby(['AGLOMERADO', 'INGRESO', 'INGRESO_NLB', 'INGRESO_JUB', 'INGRESO_SBS']).size()
info.name = 'Cant.'
info = info.reset_index()
# info = info.rename(columns = {0: 'Cant.'})

info = info.merge(aglo_labels).merge(ingresos_labels)
info = info.set_index(['NOMAGLO', 'Ingresos'])['Cant.'].unstack()#[['count', 'mean', '25%', '50%', '75%']]
info = (info/frac/4).fillna(0).astype(int)

info.sort_index()#.to_csv('./../data/results/Tabla6.csv')

Ingresos,Jubilacion,Laborables,Otros No Lab.,Sin Ingresos,Subsidio
NOMAGLO,,,,,
Bahia Blanca,39925,135750,6675,110325,1025
CABA,460900,1548700,47525,807600,3175
Catamarca,14800,81500,2700,74250,2250
Cdro Rivadavia,13400,75375,700,69725,800
Concordia,16300,62200,2025,66975,3000
Cordoba,170375,679950,36025,550750,10200
Corrientes,28500,149325,7700,149975,4500
Formosa,17525,91225,4375,103475,3700
Fuera de aglom.,1782250,5870875,205900,6617075,283200
GBA,1151750,4995400,121600,4276125,126000
Jujuy,26675,134325,4675,140000,4725
La Plata,94800,383725,18125,288250,4500
La Rioja,9725,81925,5025,75450,2775
Mar del Plata,94875,276700,8475,222100,3350
Mendoza,116175,413675,10750,383550,5450
Neuquen,28125,163850,5550,147050,1725
Parana,30875,131050,3225,105450,2600
Posadas,26100,128000,5800,130750,4350
Rawson-Trelew,12800,56750,1375,46525,250
Resistencia,32600,166850,7550,167875,7725
Rio Cuarto,21875,68975,3250,54575,1225
Rio Gallegos,7500,48525,925,49950,0
Rosario,157950,565825,22550,425800,14075
Salta,51400,236075,9025,247425,9075
San Juan,44475,170075,5425,178225,4700
San Luis,18200,77850,3900,82275,1675
San Nicolas,23125,77825,1500,75150,1300
Santa Fe,56200,213375,8375,193625,5925
Santa Rosa,13625,51975,1100,45200,400
Sgo del Estero,32000,154375,5800,162175,6150
Tucuman,88075,339350,12550,357525,13800
Ushuaia-Rio Grande,4500,54675,1000,42225,0
Viedma-Patagones,7800,31900,1000,26500,200

### Tabla 7: Ingresos familiares por aglomerado

In [21]:
info = df[['HOGAR_REF_ID', 'AGLOMERADO', 'P47T_hogar']].drop_duplicates().groupby(['AGLOMERADO'])['P47T_hogar'].describe()
info = info.reset_index().merge(aglo_labels).set_index('NOMAGLO').sort_index()

info['count'] = (info['count']/frac/4).fillna(0).astype(int)
info[['mean','std','min','25%','50%','75%','max']] = info[['mean','std','min','25%','50%','75%','max']]/ipc_10_16

In [29]:
show = info.copy()
show[['mean','std','min','25%','50%','75%','max']] = show[['mean','std','min','25%','50%','75%','max']].round(-1).astype(int)
show = show.drop('std', axis = 1)
show.to_csv('./../data/results/Tabla7.csv')
show

                    AGLOMERADO    count  mean  min   25%   50%    75%     max
NOMAGLO
Bahia Blanca                 3   100675  4790    0  2170  3910   6240   52470
CABA                        32  1145700  6090    0  2640  4890   8110  148280
Catamarca                   22    45300  4410    0  2150  3680   5760   39960
Cdro Rivadavia               9    49350  7700    0  3830  6650  10230   44670
Concordia                   14    43050  4020    0  1840  3270   5410   23110
Cordoba                     13   449250  4960    0  2230  4030   6560   74860
Corrientes                  12    92525  3850    0  1610  2930   5170   32250
Formosa                     15    58275  3720    0  1760  2940   4860   29970
Fuera de aglom.              0  4294875  3920    0  1640  3030   5180  105110
GBA                         33  3105625  4840    0  2190  3910   6440  198290
Jujuy                       19    82325  4060    0  1790  3260   5410   34230
La Plata                     2   260775  5140    0  2300  4110   6850  110040
La Rioja                    25    46825  4180    0  2000  3390   5580   67900
Mar del Plata               34   205025  4520    0  2080  3810   6060   46520
Mendoza                     10   269425  4640    0  2150  3830   6140   79800
Neuquen                     17   107975  6430    0  2830  5180   8690   65570
Parana                       6    83100  4770    0  2190  3930   6470   24790
Posadas                      7    83650  3700    0  1640  2880   4890   36300
Rawson-Trelew               91    37225  6340    0  3010  5080   8230   44590
Resistencia                  8   107375  3650    0  1530  2820   4820   63510
Rio Cuarto                  36    52650  4430    0  2000  3530   5880   57010
Rio Gallegos                20    29425  8310    0  4470  7590  10810   62350
Rosario                      4   391900  4670    0  2050  3710   6180  112490
Salta                       23   138375  4350    0  1970  3480   5710   30330
San Juan                    27   108675  4260    0  1940  3420   5730   56250
San Luis                    26    51825  4150    0  1950  3290   5470   30470
San Nicolas                 38    54425  4530    0  2120  3700   6060   30440
Santa Fe                     5   148025  4670    0  1960  3640   6140   54110
Santa Rosa                  30    37675  5040    0  2400  4090   6630   39320
Sgo del Estero              18    91150  3950    0  1650  3170   5270   38350
Tucuman                     29   210350  4310    0  1870  3370   5650   50850
Ushuaia-Rio Grande          31    34225  8510    0  4350  7210  10940   62300
Viedma-Patagones            93    23125  5820    0  2440  4600   7630   59840

In [ ]:
# info
# # info.name = 'Cant.'
# # info = info.reset_index()
# # # info = info.rename(columns = {0: 'Cant.'})
# # ingresos_labels = pd.read_csv('./../data/info/ingresos_labels.csv')

# # info = info.merge(aglo_labels).merge()
# # info = info.set_index(['NOMAGLO', 'Ingresos'])['Cant.'].unstack()#[['count', 'mean', '25%', '50%', '75%']]
# # info = (info/frac/4).fillna(0).astype(int)

# # info.sort_index()

In [ ]:
# info = df.groupby(['AGLOMERADO'])['CBA'].describe().reset_index()
# info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
# info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

# col_mon = ['mean', '25%', '50%', '75%']
# info[col_mon] = info[col_mon]/ipc_10_16
# info['count'] = info['count']/frac/4
# info = info.round(-1).astype(int)
# info.columns = ['Poblacion', 'CBA promedio', '25%', '50%', '75%']
# info.sort_index()