In [1]:
import pandas as pd

In [124]:
frac = 0.01
df_list = []

for Q in ['2010-02-15', '2010-05-15', '2010-08-15', '2010-11-15']:
    file_q = './../data/Pobreza/pobreza_'+str(frac)+'_q'+Q+'.csv'
    dfq = pd.read_csv(file_q, index_col = 0)
    df_list += [dfq]
    
df = pd.concat(df_list)

In [67]:
aglo_labels = pd.read_csv('./../data/info/aglo_labels.csv')[['AGLOMERADO', 'NOMAGLO']]
condact_labels = pd.read_csv('./../data/info/condact_labels.csv')
cat_ocup_inac_labels = pd.read_csv('./../data/info/cat_ocup_inac_labels.csv')

In [138]:
info = df.groupby(['AGLOMERADO', 'CONDACT', 'CAT_OCUP', 'CAT_INAC']).size().reset_index()
info = info.merge(aglo_labels).merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')

table = info.set_index(['NOMAGLO', 'Actividad', 'Categoria'])[0].unstack([-2, -1])
table.sum().loc[table.sum() > 5000]

show = (table[table.sum().loc[table.sum() > 5000].index]/frac/4).fillna(0).astype(int)
show.to_csv('./../data/results/pob_actividad_aglo.csv')
show

Actividad          Menor de 14                             Ocupado           \
Categoria                 N.A. Estudiante Menor de 6 Cuenta Propia Empleado
NOMAGLO
Bahia Blanca              1500      36900      23800          7175   134825
CABA                     17000     245800     197800         73875  1562375
Catamarca                    0      26200      17700          4025    80150
Cdro Rivadavia               0      19700      19200          2200    75225
Concordia                    0      23700      19800          3550    62675
Cordoba                   5000     174900     132800         31025   679475
Corrientes                 500      49200      33200          8100   146250
Formosa                    100      34100      21600          3975    90550
Fuera de aglom.          93300    2218900    1562100        441450  5708025
GBA                      45800    1400000    1090300        246250  4938225
Jujuy                        0      44700      34200          6275   134225
La Plata                  9900      90100      73500         18375   378225
La Rioja                  2400      21500      21600          1400    80675
Mar del Plata             1800      74900      50000         19625   272525
Mendoza                   7600     110000      92600         20625   408975
Neuquen                   1100      45300      38600          6300   162550
Parana                     300      36400      26200          6625   129675
Posadas                    300      46500      29400          5875   125450
Rawson-Trelew                0      14000      11600          2175    57150
Resistencia                800      57800      34900          9625   163275
Rio Cuarto                   0      16000      14100          4175    68825
Rio Gallegos                 0      18400      12100          1600    47625
Rosario                   8400     125100     100900         33975   559475
Salta                     3700      86100      59700         11450   234000
San Juan                  3700      53800      42400          8600   167475
San Luis                   900      26700      18600          4275    76525
San Nicolas                  0      23900      18000          3500    76550
Santa Fe                  3200      60200      47900         11975   210200
Santa Rosa                   0      15600      11800          3650    51350
Sgo del Estero             100      54700      36200          6975   151525
Tucuman                   4400     115900      81100         14750   335900
Ushuaia-Rio Grande         300      14700      10700           975    53850
Viedma-Patagones           200       9900       5600           900    32050

Actividad          Desocupado   Inactivo
Categoria            Empleado Jub / Pens Estudiante Ama de casa   Otros
NOMAGLO
Bahia Blanca             9700      33000      25100       17700    1700
CABA                    82200     361700     171100      121100   14700
Catamarca                6625      12300      15400       10200    1700
Cdro Rivadavia           5050      11000      11200       13700    1700
Concordia                3425      13800      10300       10700    1700
Cordoba                 53350     142000     114600       91000   11500
Corrientes              12325      24700      31100       25800    5800
Formosa                  6175      14700      24800       19600    3600
Fuera de aglom.        360150    1514100    1142000     1363100  225600
GBA                    364200     929300     705000      781700   83400
Jujuy                   10025      21900      32900       20400    3300
La Plata                26150      79700      65000       36000    5000
La Rioja                 7350       8800      18300       10500    1600
Mar del Plata           23550      78500      39300       36000    4300
Mendoza                 40225      95500      74200       65100    7600
Neuquen                 13725      22400      29300       20700    2500
Parana                   8600      25400      19600       16800    1900
Posadas                  8700      24000      24800       23200    3900
Rawson-Trelew            4025      10300       9000        7800    1100
Resistencia             13300      28300      37700       30000    4600
Rio Cuarto               3850      18100      13200        8800    1400
Rio Gallegos             3675       6400       9800        6000     700
Rosario                 44000     128800      79800       83200   13300
Salta                   18350      41700      50800       38100    5400
San Juan                13525      37200      32900       34900    4600
San Luis                 6325      15200      19600       11600    2300
San Nicolas              6675      20100      12500       14900    1900
Santa Fe                18600      47000      36300       31200    5600
Santa Rosa               4050      10500       8500        5500     400
Sgo del Estero          11700      28900      34200       27400    4900
Tucuman                 33350      76400      68600       64200   10100
Ushuaia-Rio Grande       4250       4100       8000        4400     500
Viedma-Patagones         1575       6800       4600        4300     800

In [139]:
ix = pd.read_csv('./../data/info/indice_precios_M.csv', index_col = 0)
ix.index = pd.to_datetime(ix.index)
ix_2010 = ix.loc['2010-11-15'].values[0]
ix_2016 = ix.loc['2016-01-15'].values[0]
ipc_10_16 = (ix_2016/ix_2010)

In [140]:
info = df.groupby(['AGLOMERADO'])['P47T_persona'].describe().reset_index()
info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

col_mon = ['mean', '25%', '50%', '75%']
info[col_mon] = info[col_mon]/ipc_10_16
info['count'] = info['count']/frac/4
info = info.round(-1).astype(int)
info.columns = ['Poblacion', 'P47T promedio', '25%', '50%', '75%']
show = info.sort_index()
show.to_csv('./../data/results/P47T_aglo.csv')
show

# table = info.set_index(['NOMAGLO', 'Actividad', 'Categoria'])[0].unstack([-2, -1])
# table.sum().loc[table.sum() > 5000]

# (table[table.sum().loc[table.sum() > 5000].index]/frac).fillna(0).astype(int)

                    Poblacion  P47T promedio  25%   50%   75%
NOMAGLO
Bahia Blanca           293700           1640    0  1020  2450
CABA                  2867900           2430    0  1800  3530
Catamarca              175600           1140    0   530  1860
Cdro Rivadavia         160000           2370    0  1020  3910
Concordia              150500           1150    0   510  1840
Cordoba               1447500           1540    0   920  2350
Corrientes             340000           1050    0   410  1640
Formosa                220400            980    0   310  1640
Fuera de aglom.      14760600           1140    0   440  1760
GBA                  10671200           1410    0   770  2190
Jujuy                  310400           1080    0   390  1650
La Plata               789400           1700    0  1000  2560
La Rioja               174900           1120    0   510  1840
Mar del Plata          605600           1530    0   980  2350
Mendoza                929600           1350    0   710  2080
Neuquen                346300           2000    0   980  3070
Parana                 273200           1450    0   830  2250
Posadas                295000           1050    0   440  1640
Rawson-Trelew          117700           2010    0  1170  3070
Resistencia            382600           1020    0   390  1530
Rio Cuarto             149900           1560    0   970  2350
Rio Gallegos           106900           2290    0   720  3830
Rosario               1186300           1540    0   940  2350
Salta                  553000           1090    0   390  1660
San Juan               402900           1150    0   470  1830
San Luis               183900           1170    0   510  1880
San Nicolas            178900           1380    0   720  2190
Santa Fe               477600           1450    0   730  2190
Santa Rosa             112300           1690    0  1010  2730
Sgo del Estero         360500           1000    0   350  1530
Tucuman                811300           1120    0   440  1740
Ushuaia-Rio Grande     102400           2840    0  1950  4700
Viedma-Patagones        67400           2000    0  1030  2930

In [129]:
info = df.groupby(['AGLOMERADO'])['CBA'].describe().reset_index()
info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

col_mon = ['mean', '25%', '50%', '75%']
info[col_mon] = info[col_mon]/ipc_10_16
info['count'] = info['count']/frac/4
info = info.round(-1).astype(int)
info.columns = ['Poblacion', 'CBA promedio', '25%', '50%', '75%']
info.sort_index()

                    Poblacion  CBA promedio   25%   50%   75%
NOMAGLO
Bahia Blanca           293700          1410   730  1460  1820
CABA                  2867900          1290   730  1100  1470
Catamarca              175600          1620   960  1600  1920
Cdro Rivadavia         160000          1550  1130  1510  1890
Concordia              150500          1620  1090  1460  2190
Cordoba               1447500          1570  1090  1460  1820
Corrientes             340000          1560   980  1310  1970
Formosa                220400          1560   980  1640  1970
Fuera de aglom.      14760600          1620  1090  1460  1920
GBA                  10671200          1690  1100  1470  1840
Jujuy                  310400          1550   960  1280  1920
La Plata               789400          1680  1090  1460  1820
La Rioja               174900          1630   980  1310  1970
Mar del Plata          605600          1410   730  1460  1820
Mendoza                929600          1490   980  1310  1640
Neuquen                346300          1640  1130  1510  1890
Parana                 273200          1540  1090  1460  1820
Posadas                295000          1500   980  1310  1970
Rawson-Trelew          117700          1490  1130  1510  1890
Resistencia            382600          1480   980  1310  1970
Rio Cuarto             149900          1390   730  1460  1820
Rio Gallegos           106900          1750  1130  1510  2270
Rosario               1186300          1520  1090  1460  1820
Salta                  553000          1670   960  1600  2230
San Juan               402900          1590   980  1310  1970
San Luis               183900          1540   980  1310  1970
San Nicolas            178900          1490  1090  1460  1820
Santa Fe               477600          1740  1090  1460  1820
Santa Rosa             112300          1380   730  1460  1820
Sgo del Estero         360500          1620   960  1600  1920
Tucuman                811300          1580   960  1600  1920
Ushuaia-Rio Grande     102400          1470  1130  1510  1890
Viedma-Patagones        67400          1460   760  1460  1890

In [135]:
# df['CBT_'] = df['CBT']/df['CB_EQUIV']

# info = df.groupby(['AGLOMERADO'])['CBT_'].describe().reset_index()
# info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
# info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

# col_mon = ['mean', '25%', '50%', '75%']
# info[col_mon] = info[col_mon]/ipc_10_16
# info['count'] = info['count']/frac/4
# info = info.round(-1).astype(int)
# info.columns = ['Poblacion', 'CBT promedio', '25%', '50%', '75%']
# info.sort_index()