In [1]:
import pandas as pd

In [124]:
frac = 0.01
df_list = []

for Q in ['2010-02-15', '2010-05-15', '2010-08-15', '2010-11-15']:
    file_q = './../data/Pobreza/pobreza_'+str(frac)+'_q'+Q+'.csv'
    dfq = pd.read_csv(file_q, index_col = 0)
    df_list += [dfq]
    
df = pd.concat(df_list)

In [67]:
aglo_labels = pd.read_csv('./../data/info/aglo_labels.csv')[['AGLOMERADO', 'NOMAGLO']]
condact_labels = pd.read_csv('./../data/info/condact_labels.csv')
cat_ocup_inac_labels = pd.read_csv('./../data/info/cat_ocup_inac_labels.csv')

In [95]:
info = df.groupby(['AGLOMERADO', 'CONDACT', 'CAT_OCUP', 'CAT_INAC']).size().reset_index()
info = info.merge(aglo_labels).merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')

table = info.set_index(['NOMAGLO', 'Actividad', 'Categoria'])[0].unstack([-2, -1])
table.sum().loc[table.sum() > 5000]

(table[table.sum().loc[table.sum() > 5000].index]/frac/4).fillna(0).astype(int)

Actividad  Ocupado
Categoria Empleado
NOMAGLO
CABA        288025

In [113]:
ix = pd.read_csv('./../data/info/indice_precios_M.csv', index_col = 0)
ix.index = pd.to_datetime(ix.index)
ix_2010 = ix.loc['2010-11-15'].values[0]
ix_2016 = ix.loc['2016-01-15'].values[0]
ipc_10_16 = (ix_2016/ix_2010)

In [127]:
info = df.groupby(['AGLOMERADO'])['P47T_persona'].describe().reset_index()
info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

col_mon = ['mean', '25%', '50%', '75%']
info[col_mon] = info[col_mon]/ipc_10_16
info['count'] = info['count']/frac/4
info = info.round(-1).astype(int)
info.columns = ['Poblacion', 'P47T promedio', '25%', '50%', '75%']
info.sort_index()

# table = info.set_index(['NOMAGLO', 'Actividad', 'Categoria'])[0].unstack([-2, -1])
# table.sum().loc[table.sum() > 5000]

# (table[table.sum().loc[table.sum() > 5000].index]/frac).fillna(0).astype(int)

                    Poblacion  P47T promedio  25%   50%   75%
NOMAGLO
Bahia Blanca           293700           1640    0  1020  2450
CABA                  2867900           2430    0  1800  3530
Catamarca              175600           1140    0   530  1860
Cdro Rivadavia         160000           2370    0  1020  3910
Concordia              150500           1150    0   510  1840
Cordoba               1447500           1540    0   920  2350
Corrientes             340000           1050    0   410  1640
Formosa                220400            980    0   310  1640
Fuera de aglom.      14760600           1140    0   440  1760
GBA                  10671200           1410    0   770  2190
Jujuy                  310400           1080    0   390  1650
La Plata               789400           1700    0  1000  2560
La Rioja               174900           1120    0   510  1840
Mar del Plata          605600           1530    0   980  2350
Mendoza                929600           1350    0   710  2080
Neuquen                346300           2000    0   980  3070
Parana                 273200           1450    0   830  2250
Posadas                295000           1050    0   440  1640
Rawson-Trelew          117700           2010    0  1170  3070
Resistencia            382600           1020    0   390  1530
Rio Cuarto             149900           1560    0   970  2350
Rio Gallegos           106900           2290    0   720  3830
Rosario               1186300           1540    0   940  2350
Salta                  553000           1090    0   390  1660
San Juan               402900           1150    0   470  1830
San Luis               183900           1170    0   510  1880
San Nicolas            178900           1380    0   720  2190
Santa Fe               477600           1450    0   730  2190
Santa Rosa             112300           1690    0  1010  2730
Sgo del Estero         360500           1000    0   350  1530
Tucuman                811300           1120    0   440  1740
Ushuaia-Rio Grande     102400           2840    0  1950  4700
Viedma-Patagones        67400           2000    0  1030  2930

In [129]:
info = df.groupby(['AGLOMERADO'])['CBA'].describe().reset_index()
info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

col_mon = ['mean', '25%', '50%', '75%']
info[col_mon] = info[col_mon]/ipc_10_16
info['count'] = info['count']/frac/4
info = info.round(-1).astype(int)
info.columns = ['Poblacion', 'CBA promedio', '25%', '50%', '75%']
info.sort_index()

                    Poblacion  CBA promedio   25%   50%   75%
NOMAGLO
Bahia Blanca           293700          1410   730  1460  1820
CABA                  2867900          1290   730  1100  1470
Catamarca              175600          1620   960  1600  1920
Cdro Rivadavia         160000          1550  1130  1510  1890
Concordia              150500          1620  1090  1460  2190
Cordoba               1447500          1570  1090  1460  1820
Corrientes             340000          1560   980  1310  1970
Formosa                220400          1560   980  1640  1970
Fuera de aglom.      14760600          1620  1090  1460  1920
GBA                  10671200          1690  1100  1470  1840
Jujuy                  310400          1550   960  1280  1920
La Plata               789400          1680  1090  1460  1820
La Rioja               174900          1630   980  1310  1970
Mar del Plata          605600          1410   730  1460  1820
Mendoza                929600          1490   980  1310  1640
Neuquen                346300          1640  1130  1510  1890
Parana                 273200          1540  1090  1460  1820
Posadas                295000          1500   980  1310  1970
Rawson-Trelew          117700          1490  1130  1510  1890
Resistencia            382600          1480   980  1310  1970
Rio Cuarto             149900          1390   730  1460  1820
Rio Gallegos           106900          1750  1130  1510  2270
Rosario               1186300          1520  1090  1460  1820
Salta                  553000          1670   960  1600  2230
San Juan               402900          1590   980  1310  1970
San Luis               183900          1540   980  1310  1970
San Nicolas            178900          1490  1090  1460  1820
Santa Fe               477600          1740  1090  1460  1820
Santa Rosa             112300          1380   730  1460  1820
Sgo del Estero         360500          1620   960  1600  1920
Tucuman                811300          1580   960  1600  1920
Ushuaia-Rio Grande     102400          1470  1130  1510  1890
Viedma-Patagones        67400          1460   760  1460  1890

In [135]:
# df['CBT_'] = df['CBT']/df['CB_EQUIV']

# info = df.groupby(['AGLOMERADO'])['CBT_'].describe().reset_index()
# info = info.merge(aglo_labels)#.merge(condact_labels).merge(cat_ocup_inac_labels, how = 'left')
# info = info.set_index('NOMAGLO')[['count', 'mean', '25%', '50%', '75%']]

# col_mon = ['mean', '25%', '50%', '75%']
# info[col_mon] = info[col_mon]/ipc_10_16
# info['count'] = info['count']/frac/4
# info = info.round(-1).astype(int)
# info.columns = ['Poblacion', 'CBT promedio', '25%', '50%', '75%']
# info.sort_index()