In [1]:
import pandas as pd

In [2]:
#### USANDO DATA ONLINE (INFRA DATOS, i.e. portal oficial de Datos Argentina)

link_CBA = 'https://infra.datos.gob.ar/catalog/sspm/dataset/445/distribution/445.1/download/canasta-basica-alimentaria-regiones-del-pais.csv'
CBAr = pd.read_csv(link_CBA)
CBAr.index = pd.to_datetime(CBAr.indice_tiempo); CBAr = CBAr.drop('indice_tiempo', axis = 1)

link_CBT = 'https://infra.datos.gob.ar/catalog/sspm/dataset/446/distribution/446.1/download/canasta-basica-total-regiones-del-pais.csv'
CBTr = pd.read_csv(link_CBT)
CBTr.index = pd.to_datetime(CBTr.indice_tiempo); CBTr = CBTr.drop('indice_tiempo', axis = 1)

CB = pd.concat([CBAr.stack(), CBTr.stack()], axis = 1)
CB.columns = ['CBA', 'CBT']; CB.index.names = ['Mes', 'Region']
## Atenti que los nombres de regiones difieren (estan en lowercase y con '_')

In [3]:
from datetime import datetime as dt
  
# Getting current date and time
today = dt.today()

In [4]:
cpi_M = pd.read_csv('https://raw.githubusercontent.com/matuteiglesias/IPC-Argentina/main/data/info/indice_precios_M.csv', index_col=0)
cpi_M.index = pd.to_datetime(cpi_M.index)

cpi_Q = pd.read_csv('https://raw.githubusercontent.com/matuteiglesias/IPC-Argentina/main/data/info/indice_precios_Q.csv', index_col=0)
cpi_Q.index = pd.to_datetime(cpi_Q.index)

## OPCION INDICE SE FIJA X MES
cpi_2016 = cpi_M.loc['2016-01']

cpi_M_CB = cpi_M.loc[CB.unstack().index]
cpi_M_CB.columns = pd.MultiIndex.from_product([['Indice de Precios'], cpi_M_CB.columns])

In [5]:
from IPython.display import display, Markdown, Latex

In [26]:

df = CBAr
display(Markdown('### CBA '+df.index[-1].strftime("%b-%Y")))

CBlast = df.iloc[[-1]].T
cpi_CBlast = cpi_M.loc[df.index[-1]]

tabla = pd.concat([CBlast, CBlast*(cpi_actual/cpi_CBlast)['index']], axis = 1)
tabla.columns = ['ARS '+df.index[-1].strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round(-1).astype(int)

### CBA Dec-2021

                   ARS Dec-2021  ARS May-2022
gran_buenos_aires         10670         13920
cuyo                       9500         12400
noreste                    9650         12590
noroeste                   9260         12090
pampeana                  10570         13800
patagonia                 11040         14410

In [27]:
display(Markdown('### CBT '+df.index[-1].strftime("%b-%Y")))

df = CBTr

CBlast = df.iloc[[-1]].T
cpi_CBlast = cpi_M.loc[df.index[-1]]

tabla = pd.concat([CBlast, CBlast*(cpi_actual/cpi_CBlast)['index']], axis = 1)
tabla.columns = ['ARS '+df.index[-1].strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round(-1).astype(int)

### CBT Dec-2021

                   ARS Dec-2021  ARS May-2022
gran_buenos_aires         24640         32160
cuyo                      23380         30510
noreste                   20840         27200
noroeste                  19820         25870
pampeana                  24420         31870
patagonia                 28930         37760

In [12]:
CB_defl_Q = pd.read_csv('./../data/info/CB_Reg_defl.csv')
q_ = '2010-11-15'
CBAT2010 = CB_defl_Q.loc[CB_defl_Q.Q == q_]#.set_index(['Q', 'Region'])#/ipc_10_16

cpi_actual = cpi_M.loc['2022-05']['index'][0]
cpi_2010Q4 = cpi_Q.loc['2010-11']['index'][0]
cpi_ref = cpi_M.loc['2016-01']['index'][0]

In [13]:
display(Markdown('### CBA '+pd.to_datetime(q_).strftime("%b-%Y")))

CB2010 = CBAT2010.set_index('Region')[['CBA']]

tabla = pd.concat([CB2010*(cpi_2010Q4/cpi_ref), CB2010*(cpi_actual/cpi_ref)], axis = 1)
tabla.columns = ['ARS '+pd.to_datetime(q_).strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round().astype(int)

### CBA Nov-2010

                   ARS Nov-2010  ARS May-2022
Region
cuyo                        320         12044
gran_buenos_aires           359         13527
noreste                     321         12091
noroeste                    312         11751
pampeana                    356         13406
patagonia                   371         13958

In [14]:
display(Markdown('### CBT '+pd.to_datetime(q_).strftime("%b-%Y")))

CB2010 = CBAT2010.set_index('Region')[['CBT']]

tabla = pd.concat([CB2010*(cpi_2010Q4/cpi_ref), CB2010*(cpi_actual/cpi_ref)], axis = 1)
tabla.columns = ['ARS '+pd.to_datetime(q_).strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round().astype(int)

### CBT Nov-2010

                   ARS Nov-2010  ARS May-2022
Region
cuyo                        830         31253
gran_buenos_aires           876         32970
noreste                     733         27593
noroeste                    706         26582
pampeana                    868         32666
patagonia                  1026         38619