In [3]:
import pandas as pd

In [4]:
#### USANDO DATA ONLINE (INFRA DATOS, i.e. portal oficial de Datos Argentina)

link_CBA = 'https://infra.datos.gob.ar/catalog/sspm/dataset/445/distribution/445.1/download/canasta-basica-alimentaria-regiones-del-pais.csv'
CBAr = pd.read_csv(link_CBA)
CBAr.index = pd.to_datetime(CBAr.indice_tiempo); CBAr = CBAr.drop('indice_tiempo', axis = 1)

link_CBT = 'https://infra.datos.gob.ar/catalog/sspm/dataset/446/distribution/446.1/download/canasta-basica-total-regiones-del-pais.csv'
CBTr = pd.read_csv(link_CBT)
CBTr.index = pd.to_datetime(CBTr.indice_tiempo); CBTr = CBTr.drop('indice_tiempo', axis = 1)

CB = pd.concat([CBAr.stack(), CBTr.stack()], axis = 1)
CB.columns = ['CBA', 'CBT']; CB.index.names = ['Mes', 'Region']
## Atenti que los nombres de regiones difieren (estan en lowercase y con '_')

In [5]:
## Mostrar inicio y final de serie

df = CBAr.round().astype(int)
display(df.head())
display(df.tail())

df = CBTr.round().astype(int)
display(df.head())
display(df.tail())

               gran_buenos_aires  cuyo  noreste  noroeste  pampeana  patagonia
indice_tiempo
2016-04-01                  1515  1358     1372      1334      1515       1557
2016-05-01                  1561  1398     1404      1369      1563       1604
2016-06-01                  1614  1445     1448      1414      1614       1661
2016-07-01                  1666  1494     1496      1458      1660       1714
2016-08-01                  1675  1496     1502      1459      1663       1724

               gran_buenos_aires  cuyo  noreste  noroeste  pampeana  patagonia
indice_tiempo
2021-08-01                  9454  8373     8500      8208      9335       9712
2021-09-01                  9713  8632     8720      8443      9613       9984
2021-10-01                 10008  8952     9027      8757      9951      10324
2021-11-01                 10267  9157     9265      8935     10171      10630
2021-12-01                 10668  9503     9647      9264     10572      11043

               gran_buenos_aires  cuyo  noreste  noroeste  pampeana  patagonia
indice_tiempo
2016-04-01                  3665  3504     3100      2988      3666       4282
2016-05-01                  3825  3649     3230      3122      3829       4460
2016-06-01                  3939  3758     3315      3209      3939       4602
2016-07-01                  4033  3855     3396      3281      4018       4713
2016-08-01                  4037  3845     3394      3269      4008       4723

,gran_buenos_aires,cuyo,noreste,noroeste,pampeana,patagonia
indice_tiempo,,,,,,
2021-08-01,22123,20849,18614,17812,21843,25835
2021-09-01,22826,21581,19185,18406,22494,26558
2021-10-01,23419,22289,19769,19002,23284,27462
2021-11-01,23922,22710,20197,19299,23698,28063
2021-12-01,24643,23377,20837,19824,24421,28932

In [59]:
from datetime import datetime as dt
  
# Getting current date and time
today = dt.today()

In [13]:
cpi_M = pd.read_csv('https://raw.githubusercontent.com/matuteiglesias/IPC-Argentina/main/data/info/indice_precios_M.csv', index_col=0)
cpi_M.index = pd.to_datetime(cpi_M.index)

cpi_Q = pd.read_csv('https://raw.githubusercontent.com/matuteiglesias/IPC-Argentina/main/data/info/indice_precios_Q.csv', index_col=0)
cpi_Q.index = pd.to_datetime(cpi_Q.index)

## OPCION INDICE SE FIJA X MES
cpi_2016 = cpi_M.loc['2016-01']

cpi_M_CB = cpi_M.loc[CB.unstack().index]
cpi_M_CB.columns = pd.MultiIndex.from_product([['Indice de Precios'], cpi_M_CB.columns])

In [70]:
from IPython.display import display, Markdown, Latex

In [76]:
display(Markdown('### CBA '+df.index[-1].strftime("%b-%Y")))

df = CBAr

CBlast = df.iloc[[-1]].T
cpi_CBlast = cpi_M.loc[df.index[-1]]

tabla = pd.concat([CBlast, CBlast*(cpi_actual/cpi_CBlast)['index'][0]], axis = 1)
tabla.columns = ['ARS '+df.index[-1].strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round(-1).astype(int)

### CBA Dec-2021

                   ARS Dec-2021  ARS May-2022
gran_buenos_aires         10670         12410
cuyo                       9500         11060
noreste                    9650         11220
noroeste                   9260         10780
pampeana                  10570         12300
patagonia                 11040         12850

In [77]:
display(Markdown('### CBT '+df.index[-1].strftime("%b-%Y")))

df = CBTr

CBlast = df.iloc[[-1]].T
cpi_CBlast = cpi_M.loc[df.index[-1]]

tabla = pd.concat([CBlast, CBlast*(cpi_actual/cpi_CBlast)['index'][0]], axis = 1)
tabla.columns = ['ARS '+df.index[-1].strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round(-1).astype(int)

### CBT Dec-2021

                   ARS Dec-2021  ARS May-2022
gran_buenos_aires         24640         28670
cuyo                      23380         27200
noreste                   20840         24240
noroeste                  19820         23060
pampeana                  24420         28410
patagonia                 28930         33660

In [107]:
CB_defl_Q = pd.read_csv('./../data/info/CB_Reg_defl.csv')
q_ = '2010-11-15'
CBAT2010 = CB_defl_Q.loc[CB_defl_Q.Q == q_]#.set_index(['Q', 'Region'])#/ipc_10_16

In [116]:
CB2010

                           CBA
Region
cuyo               1227.548234
gran_buenos_aires  1378.700695
noreste            1232.313467
noroeste           1197.626068
pampeana           1366.315053
patagonia          1422.601292

In [119]:
display(Markdown('### CBA '+pd.to_datetime(q_).strftime("%b-%Y")))

CB2010 = CBAT2010.set_index('Region')[['CBA']]
cpi_2010Q4 = cpi_Q.loc['2010-11']
cpi_ref = cpi_M.loc['2016-01']

tabla = pd.concat([CB2010*(cpi_2010Q4/cpi_ref), CB2010*(cpi_actual['index'][0]/cpi_ref['index'][0])], axis = 1)
# tabla.columns = ['ARS '+pd.to_datetime(q_).strftime("%b-%Y"), 
#                  'ARS '+today.strftime("%b-%Y")]

tabla#.round(-1).astype(int)

### CBA Nov-2010

,CBA,index,log_index,log_index_diff,pct_m,CBA
2010-11-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
cuyo,NaN,NaN,NaN,NaN,NaN,10895.037520
gran_buenos_aires,NaN,NaN,NaN,NaN,NaN,12236.582960
noreste,NaN,NaN,NaN,NaN,NaN,10937.331087
noroeste,NaN,NaN,NaN,NaN,NaN,10629.464970
pampeana,NaN,NaN,NaN,NaN,NaN,12126.654867
patagonia,NaN,NaN,NaN,NaN,NaN,12626.220325

In [111]:
today

datetime.datetime(2022, 5, 3, 14, 32, 40, 224287)

In [114]:
dt.datetime(q_)

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [104]:
display(Markdown('### CBT '+df.index[-1].strftime("%b-%Y")))

CB2010 = CBAT2010.set_index('Region')[['CBT']]
cpi_2010Q4 = cpi_Q.loc['2010-11']

tabla = pd.concat([CB2010, CB2010*(cpi_actual['index'][0]/cpi_2010Q4['index'][0])], axis = 1)
tabla.columns = ['ARS '+df.index[-1].strftime("%b-%Y"), 
                 'ARS '+today.strftime("%b-%Y")]

tabla.round(-1).astype(int)

### CBT Dec-2021

                   ARS Dec-2021  ARS May-2022
Region
cuyo                       3190        108170
gran_buenos_aires          3360        114110
noreste                    2810         95500
noroeste                   2710         92000
pampeana                   3330        113060
patagonia                  3940        133660

In [95]:
cpi_actual['index'][0]

887.5445560423415

In [89]:
cpi_CBlast

log_index           0.882487
index             762.934720
log_index_diff      0.023379
pct_m               4.005212
Name: 2021-12-01 00:00:00, dtype: float64

In [88]:
# cpi_actual/cpi_2010Q4
cpi_2010Q4

                index
Q
2010-11-15  26.136325

In [17]:
cpi_2010Q4 = cpi_Q.loc['2010-11']
cpi_2010Q4

cpi_actual = cpi_M.loc['2022-05']
cpi_actual

            log_index       index  log_index_diff     pct_m
2022-05-01   0.953429  887.544556        0.014188  3.071965